body {
    /* Style Guide Color Variables */
    --color-midnight-blue: rgb(26, 40, 84);
    --color-navy-blue: rgb(15, 62, 101);
    --color-imperial-blue: rgb(0, 105, 170);
    --color-arctic-blue: rgb(0, 188, 229);
    --color-orange: rgb(240, 107, 63);
    --color-storm-blue: rgb(129, 172, 189);
    --color-slate: rgb(239, 238, 238);
    --color-charcoal: rgb(65, 66, 66);

    --header-font-family: 'Playfair Display', "Palatino Linotype", "Book Antiqua", Palatino, serif;
    --p-font-family: 'Lato', "Trebuchet MS", Helvetica, sans-serif;

    color: var(--color-charcoal);
    background-color: var(--color-slate);
    overflow-x: hidden;
}

* {
    font-family: var(--p-font-family);;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
   font-family: var(--header-font-family); 
}

#portfolio-title {
    font-weight: bold;
    color: var(--color-orange);
    text-decoration: solid, var(--color-slate);
}

.my-top-bar {
  background-color: var(--color-storm-blue);
  height: 10vh;
}

/* Hover Underline SubNav Menu */
.hover-underline-menu {
    width: 100%;
  }
  
  .hover-underline-menu .menu {
    background-color: var(--color-charcoal);
    justify-content: space-around;
  }
  
  .hover-underline-menu .menu a {
    color: var(--color-slate);
    padding: 1.2rem 1.5rem;
    
  }
  
  .hover-underline-menu .menu .underline-from-center {
    position: relative;
  }
  
  .hover-underline-menu .menu .underline-from-center::after {
    content: "";
    position: absolute;
    top: calc(100% - 0.125rem);
    border-bottom: 0.125rem solid var(--color-orange);
    left: 50%;
    right: 50%;
    transition: all 0.5s ease;
  }
  
  .hover-underline-menu .menu .underline-from-center:hover::after {
    left: 0;
    right: 0;
    transition: all 0.5s ease;
  }

  .is-active {
    border-bottom: 0.125rem solid var(--color-orange);
    left: 0;
    right: 0;
  }

  .information_photo {
    position: relative;
    width: 100%;
    height: 20em;
    background-repeat: no-repeat;
    background-position: 50% 75%;
    overflow: hidden;
    background-size: 150%;
  }

  .background-block {
    position: absolute;
    top: 40%;
    left: 30%;
    background-color: var(--color-slate);
    width: 40vw;
  }
  
  .transparent {
      opacity: 60%;
  }

  .block-text {
      margin-top: .5em;
    text-align: center;
    font-weight: bold;
  }

  #skills-section {
      background-color: var(--color-imperial-blue);
      padding: 1em;
      color: var(--color-slate);
  }

  #circle-menu {
    width: 50vw;
    justify-content: space-around;
    margin: 1em;
  }

  .circle {
    height: 3em;
    width: 3em;
    background-color:var(--color-slate);
    border-radius: 50%;
    display: inline-block;
  }

  .circle-icon {
    max-width: 66%
  }

  .image-circle-crop {
    width: 33vw;
    max-width: 20em;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.prof-pic {
    display: flex;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

#projects-header {
    background-color: var(--color-midnight-blue);
    color: var(--color-slate);
}

/* Work Feature Foundation Block */
  .work-feature-block {
    padding: 10px 0;
    border-top: 1px solid var(--color-slate);
    border-bottom: 1px solid var(--color-slate);
  }

  .work-feature-block-header {
      font-weight: bolder;
  }
  
  .work-feature-block-image {
    display: block;
    margin: auto;
    padding: 10px 0;
    width: 40em;
  }

  .modal-image {
    width: 100%;
  }

  #zen-app-image {
    width: 50%;
  }

  .section-divider {
      background-color: var(--color-midnight-blue);
      width: 35vw;
  }

  .iframe-container {
    overflow: hidden;
    padding-top: 129.42%;
    position: relative;
  }
  .iframe-container iframe {
     border: 0;
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
  }

  #resume-background {
    background-color: var(--color-arctic-blue);
    padding-bottom: 1em;
  }

  #resume-cell {
    max-width: 805px;
    width: 60vw;
    color: var(--color-slate);
}

#bottom-bar-background {
    background-color: var(--color-charcoal);
}

#hex-menu {
    height: 12rem;
}

.hex {
    height: 8em;
    width: 8em;
    display: block;
  }

.hex:hover {
  height: 9em;
  width: 9em;
  transition: all, ease, 40ms;
}

@media screen and (min-width: 40em) {
  .medium-text-left {
    padding-left: .5em;
  }
  #zen-app-image {
    margin-left: 0.5rem;
  }
}

@media screen and (max-width: 63.9375em) {
    #resume-cell {
        width: 96vw;
    }
}

@media screen and (max-width:25em) {
  .hex {
    height: 6em;
    width: 6em;
  }
}