.callout-background {
    background-color: rgb(252, 242, 228);
}

.screenshot-carousel {
    max-width: 50vw;
}

.carousel-buttons {
    background-color: rgba(179, 179, 179, 0.377);
}

#resume-cell {
    height: 66rem;
}

#codequiz-margin {
    margin-top: 6em;
}

@media screen and (max-width: 39.9375em) {
    .screenshot-carousel {
        max-width: 95vw;
    }
}
/* @media screen and (min-width: 40em) and (max-width: 63.9375em) {} */